* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    margin-top: 1.5%;
}

header {
    background-color: #D181E1;
    height: 100px;
}

figure {
    background-color: #DDD583;
    height: 300px;
    margin-top: 2.5%;
}

main {
    background-color: #437BDF;
    height: 500px;
    margin-top: 2.5%;
}