* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    margin-top: 1.5%;
}

header {
    background-color: #D181E1;
    height: 100px;
}

figure {
    background-color: #DDD583;
    height: 300px;
    margin-top: 2.5%;
}

main {
    background-color: #437BDF;
    margin-top: 2.5%;
}

#title, .side-section, #main-section {
    background-color: #B3CDE5;
}

#title {
    height: 100px;
}

.side-section, #main-section {
    height: 300px;
    width: 10%;
    float: left;
}

.side-section {
    width: 20%;
    margin: 1.5% 0;
}

#main-section {
    width: 57%;
    margin: 1.5% 1.5%;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

