* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 1.5% auto;
}

#logo, #slideshow {
    margin-bottom: 2.5%;
}

#logo {
    background-color: #D181E1;
    height: 100px;
}

#slideshow {
    background-color: #DDD583;
    height: 300px;
}

main {
    background-color: #437BDF;
}

#title, .side-section, #main-section {
    background-color: #B3CDE5;
}

#title {
    height: 100px;
}

.side-section, #main-section {
    height: 300px;
    width: 10%;
    float: left;
}

.side-section {
    width: 20%;
    margin: 1.5% 0;
}

#main-section {
    width: 57%;
    margin: 1.5% 1.5%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #7A27F7;
    height: 50px;
    margin-top: 0.5%;
}